body {
	background-color: black;
	background-image: url(../images/starry_sky.jpg);
}
body * {
	font-family: 'Oswald', sans-serif;
	color: yellow;
}

.game-container {
	display: flex;
	justify-content: flex-start;
}
#title {
	text-align: center;
	font-size: 50px;
}
#wrong-letters {
/*	position: absolute;
*/	font-size: 20px;
/*	top: 35vh;
*/	/*left: 1vw;*/
}
#score, #lives {
	font-size: 20px;
	margin-right: 2vw;
}
/*canvas {
	display: block;
	background-color: white;
	margin-bottom: 10px;
}*/
#phrase {
	font-size: 30px;
}
#phrase p {
	font-size: 36px;
	display: inline-block;
	margin-right: 1vw;
}
.interactive {
/*	display: flex;
*/	
	justify-content: space-evenly;
}
input, button {
	font-size: 22px;
	color: black;
}
button:hover {
	background-color: firebrick;
	cursor: pointer;
}
#message {
	font-size: 20px;
	visibility: hidden;
	display: inline-block;
}